<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <div class="page">
        <div id="index">
        <header>Weather App</header>
        <div class="weather-result">
            <div class="result"><section><%=day1%></section> <br> Minimum Temperature: <%=firstdaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%=firstdaymax%> <sup>0</sup>C</div>
            <div class="result"><section><%=day2%></section> <br> Minimum Temperature: <%=seconddaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%=seconddaymax%> <sup>0</sup>C</div>
            <div class="result"><section><%=day3%></section> <br> Minimum Temperature: <%=thirddaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%= thirddaymax %> <sup>0</sup>C</div>
            <div class="result"><section><%=day4%></section> <br> Minimum Temperature: <%=fourthdaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%=fourthdaymax%> <sup>0</sup>C</div>
           <!-- <div class="result"><section><%=day5%></section> <br> Minimum Temperature: <%=fifthdaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%=fifthdaymax%> <sup>0</sup>C</div>
            <div class="result"><section><%=day6%></section> <br> Minimum Temperature: <%=sixthdaymin%><sup>0</sup>C <br>
                Maximum Temperature: <%=sixthdaymax%> <sup>0</sup>C</div>
            <div class="result"><section><%=day7%></section> <br> Minimum Temperature: <%=seventhdaymin%><sup>0</sup>C <br>
                Max temp: <%=seventhdaymax%> <sup>0</sup>C</div> -->
        </div>
    </div>
    </div>
</body>
</html>